<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleJSONAppender" />
        </Root>
        <Logger name="com.rhysmccaig.kscheduler" level="DEBUG"/>
        <Logger name="org.apache.kafka" level="INFO"/>
        <Logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    </Loggers>
</Configuration>